recursive-include examples *.py *.txt
recursive-include scripts *.py
recursive-include pyjsbsim *.py
recursive-include pyjsbsim/files *
recursive-include cython *.pyx *.cpp
include README.md
include license.txt
